<div>
	<h2>Edit Form</h2>

	<div class="col-sm-12" style="padding: 0; margin-top: 25px;">

		<input data-dojo-attach-point="GuestBookNameNode"
		       type="hidden" value="${greeting.guestbookName}"/>

		<input data-dojo-attach-point="GuestBookGreetingIdNode"
		       value="${greeting.greetingId}"
		       type="hidden"/>

		<div class="col-sm-12">
			<div class="col-sm-12" style="padding-left: 0">
				<label class="text-capitalize text-center">Greeting Name</label>
			</div>
			<div class="col-sm-6" style="padding-left: 0;">
				<input data-dojo-attach-point="GuestBookGreetingNameNode"
				       value="${greeting.content}"
				       type="text" class="form-control"
				       placeholder="Greeting name"/>
			</div>
			<div class="col-sm-6">
				<button data-dojo-attach-event="onclick: editGreeting" class="btn btn-success">
					Save
				</button>
			</div>
		</div>
	</div>
</div>