<tr>
	<td data-dojo-attach-point="GreetingIdNode"></td>
	<td data-dojo-attach-point="GreetingContentNode">Nobody</td>
	<td data-dojo-attach-point="GreetingGuestbookNameNode">default_guestbook</td>
	<td data-dojo-attach-point="GreetingDateNode">2015-11-25 09:31:32.168548</td>
	<td data-dojo-attach-point="GreetingUpdatedDateNode">2015-11-25 10:35:57.619136</td>
	<td data-dojo-attach-point="GreetingUpdatedByNode">None</td>
	<td>
		<a href="#" data-dojo-attach-event="onclick: edit">
			<i class="glyphicon
			glyphicon-pencil"></i> Edit</a>
	</td>
	<td>
		<a href="#" data-dojo-attach-event="onclick: delete">
			<i class="glyphicon glyphicon-trash"></i> Delete
		</a>
	</td>
</tr>