<div class="col-sm-12">
    <div class="col-sm-12" style="padding: 0;margin-top: 25px;">
        <div class="col-sm-6">
            <input data-dojo-attach-point="GuestBookNameNode"
                   data-dojo-type="dijit.form.TextBox"
                   value="default_guestbook"
                   type="text" class="form-control"
                   placeholder="Guestbook name"/>
        </div>
        <div class="col-sm-6">
            <button data-dojo-attach-event="onclick: increment"
                    class="btn btn-default">
                Get Greeting
            </button>
        </div>
    </div>

    <div class="col-sm-12" style="margin-top: 25px;">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" data-dojo-attach-point="guestbook_list_header">default_guestbook</div>
            <!-- Table -->
            <table class="table">
                <thead>
                <td>ID</td>
                <td>Content</td>
                <td>Guestbook</td>
                <td>Date</td>
                <td>Update</td>
                <td>By</td>
                </thead>
                <tbody data-dojo-attach-point="guestbook_list_content"></tbody>
            </table>
        </div>
    </div>
</div>