<div class="col-sm-12">
    <div class="col-sm-12" style="padding: 0; margin-top: 25px;">
        <div class="col-sm-12">
            <div class="col-sm-2" style="margin-bottom: 20px;">
                <label class="text-capitalize text-center">Guestbook Name</label>
            </div>
            <div class="col-sm-10">
                <input data-dojo-attach-point="GuestBookNameNode"
                       data-dojo-type="dijit.form.TextBox"
                       value="default_guestbook"
                       type="text" class="form-control"
                       placeholder="Guestbook name"/>
            </div>
        </div>

        <div class="col-sm-12" style="margin-bottom: 20px;">
            <div class="col-sm-2">
                <label class="text-capitalize text-center">Greeting Id</label>
            </div>
            <div class="col-sm-10">
                <input data-dojo-attach-point="GuestBookGreetingIdNode"
                       data-dojo-type="dijit.form.TextBox"
                       value=""
                       type="text" class="form-control"
                       placeholder="Greeting id"/>
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <button data-dojo-attach-event="onclick: deleteGreeting" class="btn btn-default">Delete</button>
        </div>
    </div>
</div>