<div>
	<h2>Sign Form</h2>

	<div style="padding: 0; margin-top: 25px;">
		<div style="padding: 0; margin-bottom: 20px;">
			<div>
				<label>Guestbook Name</label>
			</div>
			<div>
				<div style="padding-left: 0;">
					<input data-dojo-attach-point="guestBookNameNode"
					       value=""
					       type="text"
					       placeholder="Greeting name"/>
				</div>
				<div>

				</div>
			</div>

			<div>
				<label>Greeting Name</label>
			</div>
			<div>
				<div style="padding-left: 0;">
					<input data-dojo-attach-point="guestBookGreetingNameNode"
					       value=""
					       type="text"
					       placeholder="Greeting name"/>
				</div>
				<div>
					<button data-dojo-attach-point="btnGuestbookSignNode">
						Sign Up
					</button>
				</div>
			</div>
		</div>
	</div>
</div>