<div>
	<div data-dojo-attach-point="GuestBookSignNode"
	     style="padding: 0; margin-top: 25px;"></div>

	<div data-dojo-attach-point="GuestBookEditNode"></div>

	<hr>

	<div style="padding: 0;margin-top: 25px;">
		<div>
			<input data-dojo-attach-point="GuestBookNameNode"
			       value="default_guestbook"
			       type="text"
			       placeholder="Guestbook name"/>
		</div>
		<div>
			<button class="btn btn-default" data-dojo-attach-point="btnGetListNode">
				Get Greeting
			</button>
		</div>
	</div>

	<div style="margin-top: 25px;">
		<div>
			<!-- Default panel contents -->
			<div data-dojo-attach-point="guestbook_list_header">
				default_guestbook
			</div>
			<!-- Table -->
			<table>
				<thead>
				<td>Content</td>
				<td>Guestbook</td>
				<td>Date</td>
				<td>Update</td>
				<td>By</td>
				<td colspan="2">Action</td>
				</thead>
				<tbody data-dojo-attach-point="guestbook_list_content"></tbody>
			</table>
		</div>
	</div>
</div>