<div>
	<h2>Edit Form</h2>

	<div style="padding: 0; margin-top: 25px;">

		<input data-dojo-attach-point="GuestBookNameNode"
		       type="hidden" value="${greeting.guestbookName}"/>

		<input data-dojo-attach-point="GuestBookGreetingIdNode"
		       value="${greeting.greetingId}"
		       type="hidden"/>

		<div>
			<div style="padding-left: 0">
				<label>Greeting Name</label>
			</div>
			<div style="padding-left: 0;">
				<input data-dojo-attach-point="GuestBookGreetingNameNode"
				       value="${greeting.content}"
				       type="text"
				       placeholder="Greeting name"/>
			</div>
			<div>
				<button data-dojo-attach-point="btnEditGreetingNode">
					Save
				</button>
			</div>
		</div>
	</div>
</div>