<tr>
	<input type="hidden" data-dojo-attach-point="GreetingIdNode" value="${greeting.greetingId}"/>
	<td data-dojo-attach-point="GreetingContentNode">${greeting.content}</td>
	<td data-dojo-attach-point="GreetingGuestbookNameNode">${greeting.guestbookName}</td>
	<td data-dojo-attach-point="GreetingDateNode">${greeting.date}</td>
	<td data-dojo-attach-point="GreetingUpdatedDateNode">${greeting.updatedDate}</td>
	<td data-dojo-attach-point="GreetingUpdatedByNode">${greeting.updatedBy}</td>
	<td>
		<a href="javascript: void(0)" data-dojo-attach-point="linkMakeEditFormNode">
			Edit
		</a>
	</td>
	<td>
		<a href="javascript: void(0)" data-dojo-attach-point="linkDeleteNode">
			Delete
		</a>
	</td>
</tr>